@import '../../styles/config/config.scss';

.nav {
  position: relative;

  [data-nav-position='right'] &,
  [data-nav-position='center'] & {
    @include media-query($medium-down) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: var(--color-brown);
      pointer-events: none;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 9;
      opacity: 0;

      @supports (backdrop-filter: blur(10px)) {
        background: rgba(var(--color-brown), 0.6);
        backdrop-filter: blur(10px);
      }

      &.open {
        pointer-events: auto;
      }
    }
  }

  [data-nav-position='overlay'] & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-brown);
    pointer-events: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 9;
    opacity: 0;

    @supports (backdrop-filter: blur(10px)) {
      background: rgba(var(--color-brown), 0.6);
      backdrop-filter: blur(10px);
    }

    &.open {
      pointer-events: auto;
    }
  }

  @include media-query($large-up) {
    [data-nav-position='right'] &,
    [data-nav-position='center'] & {
      place-self: center;
      pointer-events: auto;
    }

    [data-nav-position='center'] & {
      grid-column: 2/3;
    }

    [data-nav-position='right'] & {
      justify-self: end;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-black);
    letter-spacing: 2.22px;
    text-align: left;
    text-transform: uppercase;
    margin: 24px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0em;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: var(--color-brown);
      height: 18px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    &:hover::before {
      left: 0;
      right: 0;
    }
  }
}
